@media (max-width: 700px) { 
    .container {
        width: 100%;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
        left: 0%;
        width: 100%;
        border-top: 2px solid #000;
    }
    /* .ban2 p {
        color: #262626;
        line-height: 30px;
        padding-top: 10px;
        width: 450px;
    }
    .ban1{
        width: 450px;
    } */
    .menu .navbar-nav .nav-item .nav-link{
        position: relative;
        padding: 10px 0;
    }
    .menu .nav-link::after{
        position: absolute;
        content: '';
        background-color: #fff;
        width: 0;
        height: 3px;
        bottom: -2px;
        left: 0;
        transition: all linear .3s;
    }
    .menu a:hover:after{
        width: 10%;
        background-color: #000;
    }
 }