*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;

}
ol,ul{
    list-style-type: none;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
body {
    font-family: 'Poppins', sans-serif;
}
:root{
  --corp-gray:#77838f;
  --corp-lightgray:#ddd;
  --corp-blue:#143f8f;
  --corp-button:#377dff;
  --corp-black:#262626;
  --corp-white:#fff;
  --corp-lightwhite:#fcfcfc;
  --corp-yellow:#ffc107;
  --corp-green:green;
  --corp-red:red;

}

.Span-header{
  color: var(--corp-blue);
}
.header{
    padding-top: 10px;
    margin-bottom: -7px;
}
.language .nav-link {
    color: black;
}
.fac span a{
    color: var(--corp-gray);
    font-size: .875rem;
    font-weight: 300;
    padding-left: .5rem;
    padding-right: .5rem;
}

/* megamenu */
.navbar-light .navbar-nav .nav-link {
  color: var(--corp-gray);
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: var(--corp-button); 
}


.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    left: 35%;
    width: 47%;
    border-top: 2px solid #000;
    overflow: hidden;
}
.list-group-item {
    position: relative;
    display: block;
    padding: .5rem 1rem;
    color: var(--corp-gray);
    text-decoration: none;
    background-color: var(--corp-white);
    border: none;
    font-style: 10px;
    width: 300px;
}

.list-group-flush>.list-group-item {
  border-left-width: 0;
  border-bottom-width: var(--mdb-list-group-border-width);
  border-right-width: 0;
  border-top-width: 0;
}

.mega-content{
    /* width: 600px; */
    padding-right: 0;
}
.mega-content .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--corp-white);
    border: none;
    margin-left: -34px;
    
}
.card a{
    color: var(--corp-gray);
}

.dropdown-menu {
    border: none;
    box-shadow: 0px 7px 20px rgba(206, 205, 205, 0.2);
}






.dropdown-hover:hover>.dropdown-menu {
  display: inline-block;
  }
  
  .dropdown-hover>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
  }
/* megamenu */

.resource .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    left: 7%;
    width: 100%;
    border-top: 2px solid #000;
    /* box-shadow: 0px 2px 5px #000; */
}
.menu .navbar-nav .nav-item .nav-link{
    position: relative;
    padding: 0 15px;
}
.menu .nav-link::after{
    position: absolute;
    content: '';
    background-color: var(--corp-white);
    width: 0;
    height: 3px;
    bottom: -2px;
    left: 23%;
    transition: all linear .3s;
}
.menu a:hover:after{
    width: 50%;
    background-color: #000;
}

/* banner */
#banner{
  padding-top: 90px;
  padding-bottom: 20px;
  background-color: var(--corp-lightwhite);
  width: 100%;
}

.ban-pic{
    position: relative;
    width: 100%;
    height: 100%;
}
/* .ban-over{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--corp-lightwhite);
} */



.ban-con h4{
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 25px;
}

.ban2 h2{
    color: var(--corp-gray);
}
.ban2 p{
    color: var(--corp-gray);
    line-height: 30px;
    padding-top: 10px;
}
.btn-primary:not(label.btn), .btn-primary:not(label.btn):not([href]):not(:disabled):not(.disabled), .btn-primary:not([href]), .btn-primary:not([href]):not([href]):not(:disabled):not(.disabled) {
    background-color: var(--corp-button); 
    border-color: var(--corp-button); 
}
.btn[href] {
    cursor: pointer;
}
.transition-3d-hover {
    transition: all .2s ease-in-out;
}
.btn-wide {
    min-width: 9.6875rem;
}
.btn-primary[href]:hover, .btn-primary[href]:focus, .btn-primary[href]:active, .btn-primary[type]:hover, .btn-primary[type]:focus, .btn-primary[type]:active {
    box-shadow: 0 4px 11px rgba(55,125,255,0.35);
}
.transition-3d-hover:hover, .transition-3d-hover:focus {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}
.small{
    color: var(--corp-gray);
}
img {
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}


/* gallery */
#gallery{
  padding: 50px 0;
}
.gallery-head h4{
    color: #181a1f;
    font-family: "Work Sans", Sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 33.12px;
}
.gallery-head h3{
    color: var(--corp-gray);
    font-family: "Work Sans", Sans-serif;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 33.12px;
    padding-right:10px;
    padding-bottom: 40px;
    position: relative;
}
.gallery-head h3::after{
    position: absolute;
    content: '';
    background-color: var(--corp-button); 
    width: 80%;
    height: 2px;
    bottom: 30px;
    left: 13px;
}
.gallery-head h3::before{
    position: absolute;
    content: '';
    background-color: var(--corp-button); 
    width: 100%;
    height: 2px;
    bottom: 25px;
    left: -4px;
}

/* card */
.gallry-card{
    padding-top: 50px;
}

.slick-slide{
    margin: 0 10px;
}
.slick-slide img{
    width: 100%;
}
/* gallery */


/* why choose us */
#choose{
    margin-top: 50px;
    padding: 50px 0;
    background: var(--corp-lightwhite);
}
.choose-header h3{
    color: var(--corp-gray);
    position: relative;
}

.card {
    border: none;
}
.card-i {
    margin-left: -8px;
}
.card-i i{
    color: var(--corp-white);
    border: 1px solid #377dff;
    background: #377dff;
    padding: 10px;
    border-radius: 5px;
}

/* why choose us */



/* service */
#service{
  margin-top: 50px;
  background: var(--corp-lightwhite);
  padding: 50px 0;
}

.service-title{
   color: var(--corp-gray);
  font-weight: 500;
  font-size: 16px;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}
.ser{
margin-top: 30px;
display: flex;
/* justify-content: content-between; */
justify-content: space-between;
}


#service .card {

  /* box-shadow: 0 0 19px rgb(204, 196, 196); */
  box-shadow: 0 0 25px rgba(113, 113,113,0.1);
  /* background-clip: none; */
  background-clip: unset;
  background-color: transparent;
  border:none;
  border-radius: 15px;
  overflow: hidden;
}
.ser.card{
background-color: transparent!important;
border:none;
border-radius: 25px;
box-shadow: 0 0 25px rgba(113, 113,113,0.1);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
-ms-border-radius: 10px;
-o-border-radius: 10px;
overflow: hidden;
}

.ser .card img{
  transition: all linear 0.3s;
}
.ser .card img:hover{
  scale: 1.2;
}
.ser .card-title{
color: #15397b;
}

.ser-btn a{
padding: 3px 50px;
border: 1px solid #15397b;
border-radius: 20px;
background: #15397b;
color: var(--corp-white);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
-ms-border-radius: 10px;
-o-border-radius: 10px;
transition: all linear 0.3s;
}
.ser-btn a:hover{
  padding: 6px 60px;
  font-size: 18px;
}
/* service */


/* price */
#price{
    margin-top: 50px;
    background: var(--corp-lightwhite);
    padding: 50px 0;
}

.pricingTable{
  color: #555;
  background-color: #fff;
  font-family: 'Outfit', sans-serif;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
  border-radius: 20px;
}
.pricingTable .pricingTable-header{
  color: #fff;
  background: linear-gradient(to top right,#854BCC,#4C9FD0);
  padding: 25px 20px 80px;
  margin: 0 0 10px;
  border-radius: 20px 20px 0 0;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
  text-align: left;
}
.basic .pricingTable-header{
  background: linear-gradient(to right, #ff9966 0%, #ffff99 100%);

}

.standard{
  height: 600px;
}
.pricingTable .title{
  color: rgba(255,255,255,0.8);
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 0 15px;
}
.pricingTable .price-value .amount{
  font-size: 80px;
  font-weight: 600;
  line-height: 80px;
  display: block;
}
.pricingTable .price-value .duration{
  font-size: 19px;
  font-weight: 200;
  letter-spacing: 0.5px;
  display: block;
}
.pricingTable .pricing-content{
  padding: 0;
  margin: 0 0 35px;
  list-style: none;
  display: inline-block;
}
.pricingTable .pricing-content li{
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  line-height: 35px;
  padding: 5px 0 0;
}
.pricingTable .pricing-content li:after{
  content: '';
  background: linear-gradient(to top right,#854BCC,#4C9FD0);
  height: 2px;
  width: 100%;
  margin: 5px 0 0;
  clear: both;
  display: block;
}
.basic .pricing-content li:after{
  content: '';
  background: linear-gradient(to right, #ff9966 0%, #ffff99 100%);
  height: 2px;
  width: 100%;
  margin: 5px 0 0;
  clear: both;
  display: block;
}
.pricingTable .pricing-content li:last-child:after{ display: none; }
.pricingTable .pricingTable-signup{
  background: linear-gradient(to top right,#854BCC,#4C9FD0);
  padding: 10px 10px 9px;
  border-radius: 0 0 20px 20px;
}
.basic .pricing-content li:last-child:after{ display: none; }
.basic .pricingTable-signup{
  background: linear-gradient(to right, #ff9966 0%, #ffff99 100%);
}
/* .pro .pricing-content li:last-child:after{ display: none; }
.pro .pricingTable-signup{
  background: linear-gradient(to right, #00ffff 0%, #ccff66 100%);
} */
.pricingTable .pricingTable-signup a{
  color: rgba(255,255,255,0.8);
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.pricingTable .pricingTable-signup a:hover{
  color: #fff;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}
.pricingTable.pink .pricingTable-header,
.pricingTable.pink .pricing-content li:after,
.pricingTable.pink .pricingTable-signup{
  background: linear-gradient(to top right,#E244D4,#F57875);
}
.pricingTable.green .pricingTable-header,
.pricingTable.green .pricing-content li:after,
.pricingTable.green .pricingTable-signup{
  background: linear-gradient(to top right,#4EEABA,#36A3CC);
}
@media only screen and (max-width: 990px){
  .pricingTable{ margin: 0 0 40px; }
}


/* price */


/* testimonial */
#testimonial{
  margin-top: 20px;
  padding: 20px 0;
}
.slide-pic img{
  border: 1px transparent;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;

}
.slide-content h6{
  color: var(--corp-gray);
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 24px;
  padding-top: 50px;
  padding-left: 20px;
}
.slide-content h5{
  color: var(--corp-gray);
  font-weight: 600;
  font-size: 25px;
  padding-left: 150px;
  padding-top: 10px;
  position: relative;
}
.slide-content h4{
  color: var(--corp-gray);
  font-weight: 500;
  font-size: 16px;
  padding-left: 150px;
  letter-spacing: 1.2px;

}
.slide-content h5::after{
  position: absolute;
  content: '';
  top: 86%;
  left: 20px;
  width: 100px;
  height: 2px;
  background: #377dff;
}
.test-main{
  position: relative;
}
.test-i{
  color: var(--corp-gray);
  position: absolute;
  top: 50%;
  left: 1100px;
}
.test-i i{
  text-align: center;
  width: 50px;
  height: 50px;
  border: 1px solid #77838f;
  border-radius: 50%;
  line-height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 5px;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}
.test-i i:hover {
  background: #377dff;
  border-color: var(--corp-button); 
  color: var(--corp-white);
}
/* testimonial */


/* back2top */
#button {
  display: inline-block;
  background-color: var(--corp-button); 
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 50px;
  color: var(--corp-white);
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

/* back2top */


/* fixed menu */

.sticky {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: var(--corp-white);
  transition: all linear .3s;
  -webkit-transition: all linear .4s;
  -moz-transition: all linear .34;
  -ms-transition: all linear .4s;
  -o-transition: all linear .4s;
  animation: bg 1s;
  -webkit-animation: bg 1s;
}
@keyframes sticky{
  from{top: -50px;}
  to{
     top: 0;
  }
}
/* fixed menu */


/* process */
#process{
  margin-top: 50px;
  padding: 20px 0;
  background-color: var(--corp-lightwhite);
}

.process.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: var(--corp-button);
  background-color: transparent;
  box-shadow: 0 0 25px rgba(113, 113,113,0.1);
  border: none;
}

/* process */

/* online */
#online{
  margin-top: 20px;
  background: var(--corp-blue);
  padding: 50px 0;
}

.skype-i{
  margin-right: 10px;
}

.skype-i i{
  margin-top: 18px;
  color: var(--corp-blue);
  font-size: 40px;
  background: var(--corp-lightwhite);
  border: 1px solid var(--corp-lightwhite);
  padding: 10px 15px;
  border-radius: 50%;
}
.skype-header h3{
  color: var(--corp-white);
  font-weight: 600;
  font-size: 19px;
}
.skype-body p{
  color: var(--corp-gray);
  line-height: 26px;
  font-weight: 400;
  font-size: 16px;
}
.skype-button{
  margin-top: 35px;
  margin-left: 20px;
}
.skype-button a{
  background: var(--corp-yellow);
  padding: 10px 15px;
  color: var(--corp-black);
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  transition: all linear 0.3s;
}
.skype-button a:hover{
  color: var(--corp-blue);
  padding: 15px 20px;
}
.skype-button i{
  font-size: 14px;

}
/* footer */
#footer{
  margin-top: 20px;
  background: var(--corp-blue);
  padding: 50px 0;
}
.footer-content p{
  /* padding-top: 10px; */
  color: var(--corp-lightgray);
  font-size: 12px;
  line-height: 24px;
}
.footer-content h5{
  padding-top: 10px;
  color: var(--corp-white);
  letter-spacing: 2px;
  font-size: 20px;
}
.footer-i i{
  padding: 5px 5px;
  color: var(--corp-lightgray);
  font-size: 18px;
}
.footer-i p{
  color: var(--corp-lightgray);
  font-size: 16px;
  letter-spacing: 1px;
}
.feature-header h4{
  padding-top: 20px;
  padding-left: 10px;
  color: var(--corp-white);
  letter-spacing: 2px;
  font-size: 20px;
  position: relative;
}
.feature-header h4::after{
  position: absolute;
  bottom: -5px;
  left: 10px;
  content: '';
  width: 70%;
  height: 1px;
  background: var(--corp-white);
}
.feature-header a{
  display: block;
  padding-top: 15px;
  padding-left: 10px;
  color: var(--corp-lightgray)!important;
  letter-spacing: 1px;
  font-size: 14px;
  cursor:pointer;
  transition: all linear 0.3s;
}
.feature-header a:hover{
  color: var(--corp-white)!important;
  font-style: italic;
}
.contact-header h4{
  padding-top: 20px;
  padding-left: 8px;
  color: var(--corp-white);
  letter-spacing: 2px;
  font-size: 20px;
  position: relative;
}
.contact-header h4::after{
  position: absolute;
  bottom: -5px;
  left: 10px;
  content: '';
  width: 50%;
  height: 1px;
  background: var(--corp-white);
}
.contact{
  padding-top: 10px;
}
.contact i{
  margin-left: 10px;
  color: var(--corp-lightgray);
}
.address h6{
  padding-left: 8px;
  color: var(--corp-lightgray);
  font-size: 14px;
}
.address p{
  color: var(--corp-lightgray);
  font-size: 12px;
}
.phone p{
  padding-top: 0;
}
.contact-social i{
  border: transparent;
  border-radius: 50%;
  padding: 2px 5px;
  transition: all linear 0.3s;
}
.contact-social i:hover{
  border: 1px solid var(--corp-blue);
  font-size: 16px;
  color: var(--corp-blue);
  background: var(--corp-lightgray);

}

/* footer */
/* why choose us */
.choose-card{
  margin-top: 20px;
  padding: 20px 20px;
  border-radius: 10px;
  width: 350px;
  transition: all linear 0.3s;
}

.choose-card i{
  color: var(--corp-black);
  font-size: 40px;
  padding: 20px 0;
  transition: all linear 0.3s;
}
.choose-card:hover i{
  color: var(--corp-blue);
}
.choose-card h4{
  color: var(--corp-black);
  font-size: 18px;
  font-weight: 600;
  position: relative;
}
.choose-card h4::after{
  position: absolute;
  content: '';
  left: 0;
  bottom: -2px;
  background: var(--corp-black);
  height: 2px;
  width: 0;
  transition: all linear 0.3s;
}
.choose-card:hover h4::after{
  width: 100%;
}
.choose-card p{
  color: var(--corp-black);
  font-size: 14px;
  font-weight: 400;
}
/* why choose us */




/* service page  */



/* div#comparison { 
  width: 18vw;
  height: 18vw;
  max-width: 600px;
  max-height: 600px;
  overflow: hidden; }
div#comparison figure { 
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/photoshop-face-before.jpg); 
  background-size: cover;
  position: relative;
  font-size: 0;
  width: 100%; 
  height: 100%;
  margin: 0; 
}
div#comparison figure > img { 
  position: relative;
  width: 100%;
}
div#comparison figure div { 
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/photoshop-face-after.jpg);
  background-size: cover;
  position: absolute;
  width: 50%; 
  box-shadow: 0 5px 10px -2px rgba(0,0,0,0.3);
  overflow: hidden;
  bottom: 0;
  height: 100%;
}

input[type=range]{

  position: relative;
  top: -9rem; left: -2%;
  background-color: rgba(255,255,255,0.1);
  width: 102%; 
}
input[type=range]:focus { 
  outline: none; 
}
input[type=range]:active { 
  outline: none;  
}

input[type=range]::-moz-range-track { 
  -moz-appearance:none;
    height:15px;
    width: 98%;
    background-color: rgba(255,255,255,0.1); 
    position: relative;
    outline: none;    
 }
input[type=range]::active { 
  border: none; 
  outline: none;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance:none;
    width: 20px; height: 15px;   
    background: #fff;
    border-radius: 0;
   }
input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  width: 20px;
  height: 15px;
  background: #fff;
  border-radius: 0;
     }   
input[type=range]:focus::-webkit-slider-thumb {
    background: rgba(255,255,255,0.5);
   }
input[type=range]:focus::-moz-range-thumb {
    background: rgba(255,255,255,0.5);
   } */





   .compare {
    position: relative;
    width: 300px;
    height: 300px;
    border: 1px solid #f5f5f5;
    box-shadow: 0px 0px 20px 5px rgba(0, 0,0,0.15);
    background: url("https://picsum.photos/id/65/800/450");
    overflow:hidden;
  }
  
  .compare .before .after {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 300px;
    background: url("https://picsum.photos/id/65/800/450?grayscale");
    z-index: 1;  
  }
  
  .compare input {
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-appearance: none;
    z-index: 3;
    width: 207%;
    height: 100%;
    background: transparent;  
  }
  
  .compare input::-webkit-slider-thumb {
    -webkit-appearance: none;
    display: block;
    width: 5px;
    height: 300px;
    border: 1px solid #f5f5f5;
    background: #ddd;
    cursor: pointer;
  }
  
  .compare input::-webikt-slider-thumb:active {
    background: #e25a5a;
    border: 1px solid #e25a5a;
    transition: all 300ms ease-in-out;
  }
   .compare2 {
    position: relative;
    width: 300px;
    height: 300px;
    border: 1px solid #f5f5f5;
    box-shadow: 0px 0px 20px 5px rgba(0, 0,0,0.15);
    background: url("https://picsum.photos/id/65/800/450");
    overflow:hidden;
  }
  
  .compare2 .before .after {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 300px;
    background: url("https://picsum.photos/id/65/800/450?grayscale");
    z-index: 2;  
  }
  
  .compare2 input {
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-appearance: none;
    z-index: 3;
    width: 207%;
    height: 100%;
    background: transparent;  
  }
  
  .compare2 input::-webkit-slider-thumb {
    -webkit-appearance: none;
    display: block;
    width: 5px;
    height: 300px;
    border: 1px solid #f5f5f5;
    background: #ddd;
    cursor: pointer;
  }
  
  .compare2 input::-webikt-slider-thumb:active {
    background: #e25a5a;
    border: 1px solid #e25a5a;
    transition: all 300ms ease-in-out;
  }
   .compare1 {
    position: relative;
    width: 300px;
    height: 300px;
    border: 1px solid #f5f5f5;
    box-shadow: 0px 0px 20px 5px rgba(0, 0,0,0.15);
    background: url("https://picsum.photos/id/65/800/450");
    overflow:hidden;
  }
  
  .compare1 .before .after {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 300px;
    background: url("https://picsum.photos/id/65/800/450?grayscale");
    z-index: 2;  
  }
  
  .compare1 input {
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-appearance: none;
    z-index: 3;
    width: 207%;
    height: 100%;
    background: transparent;  
  }
  
  .compare1 input::-webkit-slider-thumb {
    -webkit-appearance: none;
    display: block;
    width: 5px;
    height: 300px;
    border: 1px solid #f5f5f5;
    background: #ddd;
    cursor: pointer;
  }
  
  .compare1 input::-webikt-slider-thumb:active {
    background: #e25a5a;
    border: 1px solid #e25a5a;
    transition: all 300ms ease-in-out;
  }
/* after befor  */



.try-us {
  display: inline-block;
  margin: 0;
  height: 46px;
  width: 150px;
  text-align: center;
  background-color: var(--corp-blue)!important;
  color: var(--corp-white);
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 46px;
  transition: all .2s ease-in;
  margin-top: 10px;
}
.try-us:hover{
  background: var(--corp-white)!important;
  color: var(--corp-blue);

}
.ser-pricing{
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 700;
  color: var(--corp-blue);
  font-size: 16px;
  line-height: 26px;
}
.ser-header{
  font-size: 40px;
  padding-bottom: 20px;
  font-weight: 700;
  color: var(--corp-black);
  line-height: 50px;
}
.ser-content {
  color: #938b8b;
  font-size: 15px;
  line-height: 26px;
  padding-bottom: 30px;
}
 .experience {
  display: flex;
  flex-wrap: wrap;
}
.experience-item {
  width: 212px;
  padding-right: 15px;
  box-sizing: border-box;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
 .experience .experience-item img {
  margin-right: 15px;
  margin-bottom: 0;
}
 .experience .experience-item p.experience_title {
  text-transform: uppercase;
  font-weight: 700;
  color: #1a1c25;
  margin-bottom: 0;
}
/* service page  */






